@font-face {
    font-family: 'Libre Franklin';
    src: url('../fonts/LibreFranklin-SemiBold.ttf');
    font-weight: 600;
}

@font-face{
    font-family: 'Libre Franklin';
    src: url('../fonts/LibreFranklin-Light.ttf');
    font-weight: 300;
}
@font-face {
    font-family: 'Libre Franklin';
    src: url('../fonts/LibreFranklin-LightItalic.ttf');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Libre Franklin';
    src: url('../fonts/LibreFranklin-Bold.ttf');
    font-weight: 700;
}


:root{
    --blue: hsl(223, 87%, 63%);
    --pale-blue: hsl(223, 89%, 82%);
    --light-red: hsl(354, 100%, 66%);
    --gray: hsl(0, 0%, 59%);
    --very-dark-blue: hsl(209, 33%, 12%);

    --font: 'Libre Franklin', sans-serif;
}

html{
    font-size: 62.5%;
}

body{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: var(--font);
}

main{
    display: flex;
    flex-flow: column;
    align-items: center;
}
.main-title{
    margin-top: 4rem;

    font-weight: 300;
    font-size: 2.4rem;

    color: var(--gray);
}
.main-title span{
    font-weight: 700;

    color: var(--very-dark-blue);
}
.main-CTA{
    margin-top: 1rem;

    font-size: 1.2rem;

    color: var(--very-dark-blue);
}
.main-subscription{
    display: flex;
    flex-flow: column;

    width: 28rem;
    margin-top: 3rem;
}
.subscription-input_container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.subcription-error{
    display: none;
}
.subscription-input{
    height: 4rem;
    width: 100%;
    padding-inline-start: 3rem;

    font-size: 1.2rem;

    border-radius: 2rem;
    border: solid 0.1rem var(--pale-blue);
    outline: none;
}
.subscription-input::placeholder{
    color: var(--pale-blue);
}
/*----------error messages states----------------------*/
.subcription-error--active{
    margin-block-start: 0.5rem;
    
    font-size: 1.1rem;
    font-style: italic;
    
    color: var(--light-red);
}

.subscription-input_error--active{
    border: solid 0.1rem var(--light-red);
}
/*----------end of error messages---------------*/
.subscription-button{
    height: 4rem;
    margin-top: 1rem;

    font-weight: 700;
    font-size: 1.2rem;

    background-color: var(--blue);
    border: none;
    border-radius: 2rem;
    color: white;
    box-shadow: 0 0.5rem 1rem 0.2rem rgba(0, 0, 0, 0.13);
    cursor: pointer;
    transition: all ease-in-out 0.1s;
}
.subscription-button:active{
    transform: scale(0.95);
}

.main-image{
    width: 80%;
    margin-top: 4rem;
}

footer{
    position: absolute;
    bottom: 2rem;
    display: flex;
    justify-content: space-around;
    flex-flow: column;

    
    height: 10rem;
}

.footer-logos{
    display: flex;
    justify-content: space-around;
    align-items: center;

    width: 100%;
}
.footer-logo{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 3.6rem;
    height: 3.6rem;

    text-decoration: none;

    border: solid 0.1rem var(--gray);
    border-radius: 50%;

    color: var(--blue);
}
.footer-text{
    font-size: 1.1rem;
    
    color: var(--gray);
}

.modal-container{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    justify-content: center;
    align-items: center;

    background-color: rgba(0, 0, 0, 0.199);
}

.modal-message_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 35rem;
    height: 25rem;

    background-color: white;
    border-radius: 1rem;
}

.modal-message_title{
    font-size: 3.6rem;
    font-weight: 700;

    color: var(--very-dark-blue);
}

.modal-message_text{
    margin-block-start: 1.5rem;

    font-size: 1.6rem;

    color: var(--very-dark-blue);
}

.modal-button{
    width: 15rem;
    height: 4rem;
    margin-block-start: 3.5rem;

    font-size: 1.6rem;
    font-weight: 700;

    background-color: var(--blue);
    color: white;
    border: none;
    border-radius: 2rem;
    box-shadow: 0 0.5rem 1rem 0.2rem rgba(0, 0, 0, 0.13);
    cursor: pointer;
    transition: all ease-in-out 0.1s;
}

.modal-button:active{
    transform: scale(0.95);
}

@media screen and (max-height: 1000px) {
    
    body{
        display: flex;
        align-items: initial;
        
        padding-block-start: 7rem;
    }

    main{
        display: flex;
        flex-flow: column;
        align-items: center;
    }

    footer{
        position: absolute;
        bottom: 2rem;
        display: flex;
        justify-content: space-around;
        flex-flow: column;
    
        
        height: 10rem;
    }
}

@media screen and (max-height: 850px) {
    
    body{
        padding-block-start: 2rem;
    }

    .main-image{
        width: 40rem;
    }
}

@media screen and (min-width: 800px){
    .main-title{    
        font-size: 4rem;
    }
    .main-CTA{
        font-size: 1.8rem;
    
        color: var(--very-dark-blue);
    }

    .main-image{
        width: 60rem;
    }
    .main-subscription{
        flex-flow: row;
        justify-content: center;
    
        width: 60rem;
    }

    .subscription-input_container{
        display: initial;
        flex-direction: none;
        align-items: none;
    }

    .subscription-input{    
        height: 4.5rem;
        width: 35rem;

        font-size: 1.6rem;
    }
    .subscription-button{    
        margin-block-start: 0;
        margin-inline-start: 1rem;
        height: 4.5rem;
        width: 15rem;
    }

    /*----------error messages state------------------*/
    .subcription-error--active{
        margin-inline-start: 3.5rem;
    }
    /*----------end of error messages state------------------*/
}

@media (hover:hover){
    .subscription-button:hover{
        background-color: var(--pale-blue);
    }
    .footer-logo:hover{
        background-color: var(--blue);
        color: white;
        cursor: pointer;
    }
}